.progress__bar-wrapper {
  width: 1440px;
  margin: 0 auto;
  //background: red;
  //height: 8px;
}

.progress__bar {
  height: 8px;
  width: 1200px;
  border-radius: 8px;
  background: #C4C4C44D;
  margin-left: 120px;
  position: absolute;
  top: 96px;
  //left: 240px;

  &-step {
    height: 8px;
    width: 71.5px;
    left: 120px;
    top: 136px;
    border-radius: 8px;
    background: #323264;
  }
}

@media (max-width: 375px) {
  .progress__bar {
    height: 4px;
    width: 335px;
    border-radius: 4px;
    margin-left: 21px;
    top: 56px;

    &-step {
      height: 4px;
      width: 71.5px;
      border-radius: 4px;
    }
  }
}