.quiz__button {
  margin-top: 62px;
  height: 64px;
  width: 200px;
  border-radius: 50px;
  padding: 19px 20px 19px 20px;
  background: #E62600;
  border: solid 2px #E62600;

  font-family: Gilroy;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0.04em;
  text-align: center;
  color: white;

  position: absolute;
  left: 120px;

  cursor: pointer;
}
