.image__rating-stars {
  width: 76px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.star {
  height: 14.472000122070312px;
  width: 15.21733283996582px;
  left: 0.3916015625px;
  top: 0.3330078125px;
  border-radius: 0px;
  margin-right: 2.78px;
}

.image__rating-mark {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  height: 22px;
  width: 39px;
}
