.back__buttons-wrapper {
  display: flex;
  margin-left: 120px;
  position: relative;
  margin-top: -60px;

  &:hover {
    cursor: pointer;
  }

  .back__button-text {
    font-family: Gilroy;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    color: #323264;
    position: absolute;
    top: 4px;
    left: 32px;
  }
}

@media (max-width: 375px) {
  .back__buttons-wrapper {
    margin-left: 20px;
    margin-top: -44px;
  }
}
