.quiz__inputs-wrapper {
  display: flex;
  justify-content: space-between;
  margin-left: 120px;
  margin-top: 38px;
  height: 58px;
  width: 228px;
  margin-bottom: 248px;
}

@media (max-width: 375px) {
  .quiz__inputs-wrapper {
    margin-left: 20px;
    margin-top: 18px;
  }
}

.input__wrapper {
  position: relative;
}

.quiz__input {
  width: 107.5px;
  height: 57px;
  border: solid 1px grey;
  border-radius: 8px;
  outline: none;
  font-family: Gilroy;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
}

@media (max-width: 375px) {
  .quiz__input {
    width: 107px;
    height: 51px;
  }
}

.error__message {
  position: absolute;
  font-size: 12px;
  color: red;
  top: 66px;
}