.title__wrapper {
  margin-left: 120px;
}

@media (max-width: 375px) {
  .title__wrapper {
    margin-left: 20px;
    height: 56px;
    width: 335px;
  }
}

.home__page-title {
  width: 720px;
  font-family: Gilroy;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0em;
  text-align: left;
  color: #323264;
  padding-top: 16px;
}

@media (max-width: 375px) {
  .home__page-title {
    font-size: 22px;
    line-height: 28px;
    width: 335px;
  }
}

.home__page-description {
  margin-top: 20px;
  margin-left: 120px;
  font-family: Gilroy;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: #323264;
}

@media (max-width: 375px) {
  .home__page-description {
    margin-left: 20px;
    padding-top: 7px;
    height: 46px;
    width: 335px;
  }
}

.green__grass-wrapper {
  position: relative;
  margin: 0 auto;
}

.green__grass-img {
  position: absolute;
  top: -390px;
  right: 0;
  z-index: -3;
}

@media (max-width: 375px) {
  .green__grass-img {
    display: none;
  }
}

.tool__tip-wrapper {
  margin-top: 325px;
  margin-left: 120px;
  width: 560px;
  font-size: 14px;
  color: #323264;
  font-family: Gilroy;
  line-height: 22px;
}

@media (max-width: 375px) {
  .tool__tip-wrapper {
    margin-left: 20px;
    height: 44px;
    width: 335px;
    margin-top: 84px;
  }
}

.tool__tip-text {
  margin-bottom: 8px;
}