.progress__bar {
  height: 8px;
  width: 1200px;
  border-radius: 8px;
  background: #C4C4C44D;
  margin-left: 120px;
  position: absolute;
  top: 96px;
  left: 0;

  &-step {
    height: 8px;
    width: 71.5px;
    left: 120px;
    top: 136px;
    border-radius: 8px;
    background: #323264;
  }
}

.back__buttons-wrapper {
  display: flex;
  margin-left: 120px;
  position: relative;
  margin-top: -60px;

  .back__button-text {
    font-family: Gilroy;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    color: #323264;
    position: absolute;
    top: 4px;
    left: 32px;
  }
}

.quiz__question {
  width: 1000px;
  margin-left: 120px;
  margin-top: 45px;
  font-family: Gilroy;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 63px;
  letter-spacing: 0em;
  text-align: left;
  color: #323264;
}

.quiz__suggestion {
  margin-left: 120px;
  margin-top: 18px;
  font-family: Gilroy;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: #323264;
}

.quiz__answers-wrapper {
  width: 876px;
  margin-left: 120px;
  margin-bottom: 106px;
  margin-top: 18px;
}

.quiz__answer {
  height: 58px;
  width: 136px;
  left: 0px;
  top: 0px;
  border-radius: 100px;
  padding: 20px 40px;
  font-family: Gilroy;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  margin: 20px 10px 0 0;
  background: #EAEDF5;
  cursor: pointer;

  &:hover {
    background: #323264;
    color: white;
  }
}
